@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #f7f9fc;
}

#__next {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}

.rotY {
  transform: perspective(600px) rotateY(-10deg);
}

.perspective {
  transform: perspective(600px);
}

/* div, button { */
/* transition: 0.4s ease all; */
/* } */

.debug {
  border: 1px solid red;
}

.debug-blue {
  border: 1px solid blue;
}

.debug-green {
  border: 1px solid green;
}
